.wrapper{
    width:50%;
    height: 100%;
    display: inline-flex;
    list-style: none;
    font-size: 18px;
    align-items: center;
    & li{
        margin-left:30px;
        cursor: pointer;
        color:#fff;
        &:hover{
            color:#555;
        }
    }
}